{% include 'header.html' %}

<h1>Latus poems.</h1>
{% for poem in poems %}
  <p>Title: {{ poem.title }}</p>
  <p>Author: {{ poem.author }}</p>
  <p>{{ poem.content }}</p>
{% endfor %}
</html>
from django.shortcuts import render
from .models import Poem

def poems(request):
    poem = Poem.objects.all()
    context = {'poems': poem}
    return render(request, 'poems.html', context=context)
from django.db import models

class Poem(models.Model):
    title = models.CharField(max_length=100)
    author = models.CharField(max_length=100)
    content = models.TextField()