{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relaxing Radio</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body>
    <script src="{% static 'js/script.js' %}"></script>

<header>
    <div class="flex justify-between items-center bg-gray-100 p-4">
        <a href="#" class="text-blue-500">Skip to main area</a>
        <nav class="flex items-center flex-wrap">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/logo.jpg' %}" alt="Logo" class="img-fluid">
            </a>
            <button class="navbar-toggler ml-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="flex items-center flex-wrap space-x-0 space-y-2 ml-0 mt-4">
                    <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'home' %}">Home {% if request.path == '/' %}(Current){% endif %}</a>
                    </li>
                    <li class="nav-item {% if request.path == '/aboutus/' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'aboutus' %}">AboutUs {% if request.path == '/aboutus/' %}(Current){% endif %}</a>
                    </li>
                    <li class="nav-item {% if request.path == '/contact/' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'contactus' %}">ContactUs {% if request.path == '/contact/' %}(Current){% endif %}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

</body>
</html>
